.loader {
  width: 200px;
  height: 200px;
  padding:20px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 5s linear infinite;
}

.loader .logo-loading {
  animation: rotationBack 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
