<section class="flex justify-between space-x-10 mt-10 px-4 py-4 sm:px-20">
  <div class="flex flex-col space-y-4 w-1/2">
    <h1 class="font-bold text-5xl leading-snug">
      Hi There 💜<br />
      I'm Soufiyan El Habbazi.
    </h1>
    <p class="leading-relaxed text-md text-zinc-400 text-justify">
      Vivamus congue, neque a vulputate mollis, dui lacus cursus risus,
      vitae fermentum felis sem a odio. Vestibulum nibh justo, blandit in
      hendrerit id, eleifend eget sapien. Sed maximus tristique tellus,
      eget suscipit odio euismod non. Cras ullamcorper fringilla tellus,
      vitae efficitur ligula pharetra vitae.
      <br />
      <br />
      Proin aliquet neque ultricies erat blandit vestibulum. Sed lobortis
      enim suscipit, dignissim erat quis, ultrices urna. In ornare a lorem
      non consequat. Phasellus vitae fringilla massa, sed fringilla
      turpis. Maecenas vel mollis libero. Morrocan.
      <br />
      <br />
      Vivamus congue, neque a vulputate mollis, dui lacus cursus risus,
      vitae fermentum felis sem a odio. Vestibulum nibh justo, blandit in
      hendrerit id, eleifend eget sapien. Sed maximus tristique tellus,
      eget suscipit odio euismod non. Cras ullamcorper fringilla tellus,
      vitae efficitur ligula pharetra vitae.
      <br />
      <br />
      Proin aliquet neque ultricies erat blandit vestibulum. Sed lobortis
      enim suscipit, dignissim erat quis, ultrices urna. In ornare a lorem
      non consequat.
    </p>
  </div>

  <div class="flex flex-col w-1/2">
    <div class="w-2/3 rotate-2 self-center">
      <img
        src="../assets/img/soso.png"
        alt="Soufiyan El Habbazi"
        class="border border-zinc-700 rounded-2xl"
      />
    </div>
    <div class="flex flex-col w-2/3 self-center space-y-4 mt-10">
      <div class="flex space-x-4 items-center">
        <a class="duration-100 ease-in-out hover:opacity-75" href="#"
        ><img src="../assets/img/twitter.svg" width="20" alt="Twitter"
        /></a>
        <a
          class="text-sm font-bold text-zinc-400 hover:text-zinc-300"
          href="#"
        >Follow on X</a
        >
      </div>
      <div class="flex space-x-4 items-center">
        <a class="self-center duration-100 ease-in-out hover:opacity-75" href="#"
        ><img src="../assets/img/linkedin.svg" width="20" alt="Twitter"
        /></a>
        <a
          class="text-sm font-bold text-zinc-400 hover:text-zinc-300"
          href="#"
        >Follow on Linkedin</a
        >
      </div>
      <div class="flex space-x-4 items-center">
        <a class="self-center duration-100 ease-in-out hover:opacity-75" href="#"
        ><img src="../assets/img/github.svg" width="20" alt="Twitter"
        /></a>
        <a
          class="text-sm font-bold text-zinc-400 hover:text-zinc-300"
          href="#"
        >Follow on GitHub</a
        >
      </div>
      <div class="flex space-x-4 items-center">
        <a class="self-center duration-100 ease-in-out hover:opacity-75" href="#"
        ><img src="../assets/img/spotify.svg" width="20" alt="Spotify"
        /></a>
        <a
          class="text-sm font-bold text-zinc-400 hover:text-zinc-300"
          href="#"
        >Follow on Spotify</a
        >
      </div>
      <div class="flex items-center">
        <div class="my-4 w-full border-b border-b-zinc-700"></div>
      </div>
      <div class="flex space-x-4 items-center">
        <a class="text-zinc-400 duration-100 ease-in-out hover:opacity-75">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
            />
          </svg>
        </a>
        <a class="text-sm font-bold text-zinc-400 hover:text-zinc-300" href="mailto:elhabbazisoufiyan.pro@gmail.com">elhabbazisoufiyan.pro@gmail.com</a>
      </div>
    </div>
  </div>
</section>
