<footer
  class="w-full flex justify-between mt-20 px-4 py-10 sm:px-20 border-t border-t-zinc-700/40"
>
  <div class="flex space-x-8 font-semibold">
    <a href="about.html">About</a>
    <a href="projects.html">Projects</a>
    <a href="blog.html">Blog</a>
    <a href="#">Contact</a>
    <a href="#">Resume</a>
  </div>
  <div class="flex">
    <p class="text-zinc-500">
      Inspired by
      <a
        class="text-zinc-300"
        target="_blank"
        href="https://www.danvega.dev/"
      >Dan Vega</a
      >.
    </p>
  </div>
</footer>
