<footer
  class="w-full flex flex-col items-center justify-between gap-y-8 mt-20 px-4 py-10 border-t border-t-zinc-300/40 dark:border-t-zinc-700/40 md:flex-row md:px-20"
>
  <div class="flex space-x-4 sm:space-x-8 font-medium">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/blog">Blog</a>
    <a href="#" target="_blank">Resume</a>
  </div>
  <div class="flex">
    <p class="text-zinc-500">
      Design inspired from
      <a
        class="text-zinc-700 dark:text-zinc-300"
        target="_blank"
        href="https://www.danvega.dev/"
      >Dan Vega</a
      >.
    </p>
  </div>
</footer>
