<nav class="flex justify-around items-center py-8">
  <div></div>
  <ul
    class="flex bg-zinc-800 rounded-full border border-zinc-700 px-8 font-semibold drop-shadow-soso py-2"
  >


    <li class="mx-1" *ngFor="let link of links">
      <a routerLink="{{link.route}}" class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800">{{link.name}}</a>
    </li>
    <li class="mx-1">
      <a target="_blank"
        class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800"
        href="https://google.com"
      >Resume</a
      >
    </li>

   <!-- <li class="mx-1">
      <a
        class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800"
        href="index.html"
      >Home</a
      >
    </li>
    <li class="mx-1">
      <a
        class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800"
        href="about.html"
      >About</a
      >
    </li>
    <li class="mx-1">
      <a
        class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800"
        href="projects.html"
      >Projects</a
      >
    </li>
    <li class="mx-1">
      <a
        class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800"
        href="blog.html"
      >Blog</a
      >
    </li>
    <li class="mx-1">
      <a
        class="py-2 px-4 rounded-full duration-100 ease-in-out hover:bg-zinc-50 hover:text-zinc-800"
        href="#"
      >Resume</a
      >
    </li>-->
  </ul>
  <div class="flex space-x-4">
    <div
      class="p-1 text-emerald-400 bg-zinc-950 border-2 border-solid border-zinc-600 rounded-full duration-300 ease-in-out cursor-pointer hover:bg-zinc-800 hover:text-white hover:rotate-180"
    >
      <svg
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
          fill="currentColor"
        />
      </svg>
    </div>
    <div
      class="p-1 text-indigo-400 bg-zinc-950 border-2 border-solid border-zinc-600 rounded-full duration-300 ease-in-out cursor-pointer hover:bg-zinc-800 hover:text-white hover:rotate-180"
    >
      <svg
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8V16Z"
          fill="currentColor"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4V8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16V20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
          fill="currentColor"
        />
      </svg>
    </div>
  </div>
</nav>
