<form class="max-w-sm mx-auto">
    <h1 class="mb-5 text-3xl font-bold">Create a new post :</h1>
    <div class="mb-5">
      <label for="title" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">Title</label>
      <input type="text" id="title" class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500" placeholder="Type your post's title here..." required />
    </div>
    <div class="mb-5">
        <label for="description" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">Description</label>
        <input type="text" id="description" class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500" placeholder="Type your post's description here..." required />
    </div>
    <div class="mb-5">
        <label for="content" class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white">Content</label>
        <textarea rows="5" name="content" id="content" placeholder="Type your post's content here..." class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg focus:ring-zinc-500 focus:border-zinc-500 block w-full p-2.5 dark:bg-zinc-700 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-zinc-500 dark:focus:border-zinc-500"></textarea>
    </div>
    <button type="submit" class="text-white bg-zinc-700 hover:bg-zinc-800 focus:ring-4 focus:outline-none focus:ring-zinc-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-zinc-600 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800">Submit</button>
</form>