<section class="flex flex-col gap-y-16 mt-16 px-4 py-4 lg:px-32">
  <div class="w-full flex flex-col gap-y-10 text-center">
    <h1 class="text-3xl sm:text-4xl font-bold">Here are some of the projects that I've built.</h1>
    <p class="text-zinc-600 dark:text-zinc-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam architecto aspernatur commodi cumque eveniet explicabo facilis, fuga impedit molestias natus officiis quo reiciendis rem repellat similique sunt ut veritatis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad corporis culpa deserunt doloremque doloribus dolorum eaque eligendi, fuga impedit modi, possimus rem sed, similique ullam unde veniam!
    </p>
  </div>

  <div class="w-full flex flex-col gap-4 items-center rounded-lg md:flex-row" *ngFor="let p of projects | async;">
    <div class="w-full md:w-2/5 relative z-0">
      <img [src]="p.image" alt="Project image" class="rounded-lg" />
      <div class="absolute inset-0 rounded-md flex justify-center items-center duration-150 ease-in-out z-10 opacity-25 bg-zinc-200 hover:bg-transparent">
      </div>
    </div>
    <div class="w-full md:w-3/5 flex flex-col items-center md:items-end gap-y-4 md:gap-y-8">
      <h1 class="font-semibold text-2xl">{{ p.title }}</h1>
      <div
        class="bg-zinc-200/25 dark:bg-zinc-800/25 border border-zinc-300/40 dark:border-zinc-700/40 text-zinc-700 dark:text-zinc-300 rounded-xl w-full p-5 leading-loose backdrop-blur-lg"
      >
        <ul class="list-disc flex flex-col font-medium ml-4">
          <li *ngFor="let task of p.description">
            {{task}}
          </li>
        </ul>
      </div>
      <div class="flex flex-wrap justify-center md:justify-end gap-1">
        <a class="text-xs font-medium px-2 py-1 cursor-pointer hover:text-zinc-400" *ngFor="let tool of p.tools">
          {{ tool }}
        </a>
      </div>
    </div>
  </div>
</section>

<div class="w-full flex justify-center gap-x-8 mt-4 px-4 py-4 sm:px-20">
  Pagination
</div>
