<section class="flex flex-col space-y-6 mt-10 py-4 px-4 sm:px-20">
  <h1 class="text-center font-bold text-4xl sm:text-5xl sm:leading-normal">
    Writing on software development and anything else I find interesting.
  </h1>
  <p class="text-center text-md sm:text-lg text-zinc-400">
    All of my long-form thoughts on programming, content creation,and more, collected in chronological order.
  </p>
</section>

<section class="w-full flex justify-center gap-x-8 mt-20 px-4 py-4 sm:px-20">
  <div class="w-full space-y-6 flex flex-col">
    <div class="flex flex-col py-6 px-8 space-y-3 rounded-2xl hover:bg-zinc-800/50" *ngFor="let p of posts | async">
      <div class="flex justify-between items-center text-zinc-600 font-medium text-md">
        <div class="flex space-x-4 items-center">
          <div class="w-1 h-6 bg-zinc-600 rounded-full"></div>
          <p class="date">{{ p.createdAt }}</p>
        </div>
        <a href="#">
          <img src="https://placehold.co/35" alt="Soufiyan El Habbazi" class="border border-zinc-700 rounded-full"/></a>
      </div>
      <h5 class="font-bold text-xl">{{ p.title }}</h5>
      <p class="text-zinc-400">
        {{ p.description }}
      </p>
      <a [routerLink]="'/blog/posts/'+p._id" class="font-semibold text-blue-400">Read article ></a>
    </div>
  </div>
</section>
